# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\bigdata\task3\HadoopDocker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
